.register-link {
    color: var(--lumo-primary-text-color);
    padding: var(--lumo-space-m);
    text-decoration: none;
    display: inline-block;
    background-color: var(--lumo-contrast-10pct);
    border-radius: var(--lumo-border-radius-s);
}
.register-link:hover {
    background-color: var(--lumo-contrast-20pct);
}